<!DOCTYPE HTML>
<html>

<head>
    <title><%= project.title %> | GT Circle K</title>
    <meta charset="utf-8" />
    <% if (undefined !== project.images && project.images.length > 0){ %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.css">
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/justifiedGallery/3.7.0/css/justifiedGallery.min.css">
    <% } %>
    <% include ../partials/head.ejs %>
</head>

<body class="is-preload">

    <div id="page-wrapper">

        <% include ../partials/navbar.ejs %>

        <section id="wrapper">
            <header>
                <div class="inner">
                    <h2 class="wow fadeInLeft" data-wow-duration="2s"><%= project.title %></h2>
                    <p class="wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.5s"><%= project.summary %></p>
                    <% if (currentUser) { %>
                    <form action="/projects/<%= project.id %>/edit" method="GET">
                        <button class="ui green basic button">Edit Project <i class="fas fa-pencil-alt"></i></button>
                    </form>
                    <% } %>
                </div>
            </header>

            <div class="wrapper">
                <div class="inner">

                    <% include ../partials/flashMessage.ejs %>

                    <% if (undefined !== project.who && project.who.trim().length > 0) { %>
                    <div class="wow fadeInUp" data-wow-duration="2s">
                        <h3 class="major">Who</h3>
                        <p><%= project.who %>​</p>
                        <br>
                    </div>
                    <% } %>

                    <% if (undefined !== project.what && project.what.trim().length > 0) { %>
                    <div class="wow fadeInUp" data-wow-duration="2s">
                        <h3 class="major">What</h3>
                        <p><%= project.what %>​</p>
                        <br>
                    </div>
                    <% } %>


                    <div class="wow fadeInUp" data-wow-duration="2s">
                        <h3 class="major">Details</h3>
                        <ul class="contact">

                            <% if (undefined !== project.address && project.address.trim().length > 0) { %>
                            <li class="icon solid fa-home wow fadeInUp">
                                <% if (undefined !== project.location && project.location.trim().length > 0) { %>
                                <%= project.location %>​ <br>
                                <% } %>
                                <%= project.address %>
                            </li>
                            <% } %>

                            <% if (undefined !== project.time && project.time.trim().length > 0) { %>
                            <li class="icon solid fa-clock wow fadeInUp"><%= project.time %></li>
                            <% } %>

                            <% if (undefined !== project.pickup && project.pickup.trim().length > 0) { %>
                            <li class="icon solid fa-location-arrow wow fadeInUp"><%= project.pickup %>​ </li>
                            <% } %>

                            <% if (undefined !== project.dress && project.dress.trim().length > 0) { %>
                            <li class="icon solid fa-tshirt wow fadeInUp"><%= project.dress %>​ </li>
                            <% } %>

                        </ul>
                    </div>

                    <% if (undefined !== project.extra && project.extra.trim().length > 0){ %>
                    <p class="wow fadeInUp"><%= project.extra %></p>
                    <% } %>

                    <% if (undefined !== project.link && project.link.trim().length > 0){ %>
                    <div class="wow fadeInUp">
                        <p><a href="<%= project.link %>" target="_blank" class="button primary">Sign Up</a></p>
                        <p><b class="black-font">Note: You are signing up for the upcoming week only.</b></p>
                    </div>
                    <% } %>




                    <p class="wow fadeInUp">Please join our <a href="https://groupme.com/join_group/49705520/fLu3rQT3"
                            target="_blank" class="dotted-line">Group
                            Me</a> chat for more details and updates. <br>
                        This will allow us to make travel arrangements and communicate easily.</p>


                    <% if (undefined !== project.images && project.images.length > 0){ %>
                    <div class="wow fadeInUp">
                        <h3 class="major">Photo Gallery</h3>
                        <div id="gallery">
                            <% project.images.forEach(image => { %>
                            <a href="<%= project.imagePath %><%= image %>" data-fancybox="gallery" data-caption="">
                                <img src="<%= project.imagePath %><%= image %>" alt="" />
                            </a>
                            <% }); %>
                        </div>
                    </div>
                    <% } %>

                    <div style="margin-top: 2em; text-align: center;" class="wow fadeInUp">
                        <p><a href="/projects" class="button primary mg-3">See other projects</a></p>
                    </div>

                    <% if (currentUser && currentUser.isAdmin) { %>
                    <form action="/projects/<%=project.id %>?_method=DELETE" method='POST'
                        style="display: inline-block">
                        <button class="ui red basic button">Delete Project</button>
                    </form>
                    <% } %>

                </div>




            </div>

        </section>

        <% include ../partials/footer.ejs %>

    </div>

    <% include ../partials/common-scripts.ejs %>

    <% if (undefined !== project.images && project.images.length > 0){ %>
    <% include ../partials/gallery-view.ejs %>
    <% } %>

</body>

</html>